body{
  background-color: #282c34;
  color: white;
}

.body__container{
  display: flex;
  justify-content: space-around;

  flex-direction: column;

  min-width: 382px;
  overflow: scroll;
}

.App {
  text-align: center;
}

.products__container{
  display: flex;
  flex-direction: row;
}

.cart__container{
  margin-right: 14px;
  margin-left: 14px;
}

@media screen and (min-width: 846px){
  .products__container{
    flex-wrap: wrap;
  }

  .body__container{
    min-width: 382px;
    overflow: hidden;
    flex-direction: row;
  }
}